.header-section {
    background-image: url("//img/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    &__content {
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        padding: 55px;
    }
    &__navigation {
        text-decoration: none;
        color: white;
        margin-right: 62px;
        font-family: url("/fonts/Gotham Medium Regular/Gotham Medium Regular.ttf");
    }
    &__navigation:hover { 
        text-decoration: underline;
        cursor: pointer;
        color: black;
    }
    &__logo {
        width: 245px;
        height: 60px;
    }
    &__links {
        letter-spacing: 15px;
    }
}

i {
    font-size: 18px;
    color: white;
}

.header-slider {
    color: white;
    font-family: url("/fonts/Gotham Medium Regular/Gotham\ Medium\ Regular.ttf");
    text-align: center;
    padding-top: 260px;
    overflow: hidden;
    &__h1 {
        font-weight: 800;
        font-size: 80px;
        padding-bottom: 40px;
    }
    &__p {
        font-size: 18px;
        padding-bottom: 315px;
    }
}